@* @using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager *@
@{
    
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/img/RV.jpg" alt="RV" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">RiviksMusics</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        



        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link" target="_blank">
                         <i class="nav-icon fas fa-angle-double-right" style="color: #a2a5a9;"></i> 
                        <p>
                            Go to Website
                        </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item ">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link @ViewBag.isdashbord">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>

                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Role" class="nav-link  @ViewBag.isrole">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Role

                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Index" class="nav-link  @ViewBag.isuser">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                User
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Category" asp-action="Index" class="nav-link  @ViewBag.iscategory">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Category
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Album" asp-action="Index" class="nav-link  @ViewBag.isalbum">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Album
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Artist"))
                {
                    <li class="nav-item">
                        <a asp-controller="Music" asp-action="Index" class="nav-link  @ViewBag.ismusic">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Music
                            </p>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-controller="Plan" asp-action="Index" class="nav-link  @ViewBag.isplan">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Plan
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Plan" asp-action="Payments" class="nav-link  @ViewBag.ispayment">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Payment
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
